{% extends 'base.html' %}
{% load static %}
{% block content%}
<section class="section-content padding-y bg">
<div class="container">

<!-- ============================ COMPONENT 1 ================================= -->
<div class="card">
	<div class="row no-gutters">
		<aside class="col-md-6">
<article class="gallery-wrap">
	<div class="img-big-wrap">
	   <a href="#"><img src="{{ object.Pro_Detail.image.url }}"></a>
	</div> <!-- img-big-wrap.// -->

</article> <!-- gallery-wrap .end// -->
		</aside>
		<main class="col-md-6 border-left">
<article class="content-body">

<h2 class="title">{{ object.Pro_Detail.title }}</h2>

<div class="mb-3">
	<var class="price h4">${{ object.Pro_Detail.price }}.00</var>
</div>

<p>{{ object.Pro_Detail.description }}.</p>


<hr>
	<div class="row">
		<div class="item-option-select">
			<h6>Choose Color</h6>
			<div class="btn-group btn-group-sm btn-group-toggle" data-toggle="buttons">

			  <select id="select_color" class="form-control" onchange="get_colorname()">
              <option>Choose Your Color</option>
                  {% for color in color_rates %}
                <option>{{ color }}</option>
                  {% endfor %}
              </select>

			</div>
		</div>
	</div> <!-- row.// -->
	<div class="row">
		<div class="item-option-select">
			<h6>Select Size</h6>
			<div class="btn-group btn-group-sm btn-group-toggle" id="div_size" data-toggle="buttons">
{#            <select onchange="selectingsize()" id="selectsize" class="form-control">#}
{#                <option >Choose your Size</option>#}
{#                {% for size in pro_sizes %}#}
{#                <option >{{ size }}</option>#}
{#                {% endfor %}#}
{#            </select>#}

			</div>
		</div>
	</div> <!-- row.// -->
	<hr>
	<a href="./product-detail.html" class="btn  btn-primary"> <span class="text">Add to cart</span> <i class="fas fa-shopping-cart"></i>  </a>
</article> <!-- product-info-aside .// -->
		</main> <!-- col.// -->
	</div> <!-- row.// -->
</div> <!-- card.// -->
<!-- ============================ COMPONENT 1 END .// ================================= -->

<br>

{% include 'DetailView/ReviewSection.html' with object=object %} <!-- row.// -->


</div> <!-- container .//  -->
</section>
<script>
    function get_colorname(){
        var select_color=document.getElementById('select_color')
        var color_value=select_color.options[select_color.selectedIndex].value
        delete_all_size()
        callajax_filtering(color_value)

    }
    function callajax_filtering(color){
        $.ajax(
            {
                url: '/Filtering/',
                data:{
                    color:color,
                    ProductID:{{ productdetail.Pro_Detail.id }}
                },
                success:function (response){
                    if(response.sizerange){
                        var items=JSON.parse(response.sizerange)
                        editing_size(items)
                    }
                }
            }
        )
    }
    function delete_all_size(){
        var select_element=document.getElementById('selectsize')
        if(select_element){
            while (select_element.hasChildNodes()){
                select_element.removeChild(select_element.firstChild)
            }
            select_element.remove()
        }

    }
    function editing_size(items){
        var select_element=document.createElement('select')
        select_element.onchange=selectingsize()
        select_element.id="selectsize"
        select_element.className="form-control"
        var choose_option=document.createElement('option')
        choose_option.text="Choose Your Size"
        select_element.appendChild(choose_option)
        console.log(items)
        for(item in items){
            console.log(items[item])
            var options=document.createElement('option')
            options.value=items[item]
            options.innerHTML=items[item]
            select_element.appendChild(options)
        }
        var div=document.getElementById('div_size')
        div.appendChild(select_element)
    }
    function adding_sizeoption(items){


    }
    function selectingsize(){

    }
</script>
{% endblock %}
