{% load static %}


	<article class="box mb-3" style="overflow: scroll;height: 200px">
        {% for comment in object %}
		<div class="icontext w-100" >
			<img src="{{ comment.ItemComment.User_Comment.image.url }}" class="img-xs icon rounded-circle">
			<div class="text">
				<span class="date text-muted float-md-right">{{ comment.DataCreated }}</span>
				<h6 class="mb-1">{{ comment.ItemComment.User_Comment.user.username }} </h6>
			</div>
		</div><!-- icontext.// -->

		<div class="mt-3">
			<p>
				{{ comment.ItemComment.Description }}
			</p>
		</div>
            <br>
        {% endfor %}
	</article>



