{% extends 'base.html' %}
{% load static %}
{% block content %}
<section class="section-content padding-y">
<div class="container">

<div class="row">
	<aside class="col-md-3">

<div class="card">
	<article class="filter-group">
		<header class="card-header">
			<a href="#" data-toggle="collapse" data-target="#collapse_1" aria-expanded="true" class="">
				<i class="icon-control fa fa-chevron-down"></i>
				<h6 class="title">Categories</h6>
			</a>
		</header>
		<div class="filter-content collapse show" id="collapse_1" style="">
			<div class="card-body">

				<ul class="list-menu">
                    {% for category in Categories %}
				<li><a href="{{ category.pass_parentname_url }}">{{ category.ParentCategory }}  </a></li>
                    {% endfor %}
				</ul>

			</div> <!-- card-body.// -->
		</div>
	</article> <!-- filter-group  .// -->
	<article class="filter-group">
		<header class="card-header">
			<a href="#" data-toggle="collapse" data-target="#collapse_4" aria-expanded="true" class="">
				<i class="icon-control fa fa-chevron-down"></i>
				<h6 class="title">Sizes </h6>
			</a>
		</header>
		<div class="filter-content collapse show" id="collapse_4" style="">
			<div id="size_parent" class="card-body">
                {% for size in SizeRates %}
			  <label  class="checkbox-btn">
			    <span id="size{{ forloop.counter }}" onclick="ChangeSize('{{ size }}','{{ forloop.counter }}')" style="" title="{{ size }}" class="btn btn-light"> {{ size}} </span>
			  </label>
                {% endfor %}
		</div><!-- card-body.// -->
		</div>
	</article> <!-- filter-group .// -->

	<article class="filter-group">
		<header class="card-header">
			<a href="#" data-toggle="collapse" data-target="#collapse_3" aria-expanded="true" class="">
				<i class="icon-control fa fa-chevron-down"></i>
				<h6 class="title">Price range </h6>
			</a>
		</header>
		<div class="filter-content collapse show" id="collapse_3" style="">
			<div class="card-body">

				<div class="form-row">
				<div class="form-group col-md-6">
				  <label>PriceRange</label>
				  <!-- <input class="form-control" placeholder="$0" type="number"> -->
				  	<select onchange="SelectMaxValue()" id="MaxPriceSelect" class="mr-2 form-control">
						<option value="0">$0</option>
						<option value="50">$50</option>
						<option value="100">$100</option>
						<option value="150">$150</option>
						<option value="200">$200</option>
						<option value="500">$500</option>
						<option value="1000">$1000</option>
					</select>
				<button onclick="ApplyButton()" class="btn btn-block btn-primary">Apply</button>
			</div><!-- card-body.// -->
		</div>
	</article> <!-- filter-group .// -->

</div> <!-- card.// -->

	</aside> <!-- col.// -->
	<main class="col-md-9">

<header class="border-bottom mb-4 pb-3">
		<div class="form-inline">
			<span class="mr-md-auto">{{ Counts }} Items found </span>

		</div>
</header><!-- sect-heading -->

<div class="row">
    {% for product in page_obj %}
	<div class="col-md-4">
		<figure class="card card-product-grid">
			<div class="img-wrap">
				<img src="{{ product.Pro_Detail.image.url }}">
			</div> <!-- img-wrap.// -->
			<figcaption class="info-wrap">
				<div class="fix-height">
					<a href="./product-detail.html" class="title">{{ product.Pro_Detail.description }}</a>
					<div class="price-wrap mt-2">
						<span class="price">${{ product.Pro_Detail.price }}</span>
					</div> <!-- price-wrap.// -->
				</div>
				<a href="{{ product.pass_value_to_url }}" class="btn btn-block btn-primary">Add to cart </a>
			</figcaption>
		</figure>
	</div>
    {% endfor %}<!-- col.// -->
</div> <!-- row end.// -->


<nav class="mt-4" aria-label="Page navigation sample">
{% if page_obj.has_other_pages %}
  <ul class="pagination">
      {% if page_obj.has_previous %}
    <li class="page-item "><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
      {% else %}
      <li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>
      {% endif %}
  {% for i in page_obj.paginator.page_range %}
    <li class="page-item active"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
  {% endfor %}
  {% if page_obj.has_next %}
    <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a></li>
  {% else %}
  <li class="page-item"><a class="page-link" href="#">Next</a></li>
  {% endif %}
  </ul>
{% endif %}
</nav>

	</main> <!-- col.// -->

</div>

</div> <!-- container .//  -->
</section>
<script>
var globalsize;
var maxprice;
function ChangeSize(size,counter){
    var size_parent=document.getElementById('size_parent')
    var child_size=size_parent.children
    for(var i=0;i<child_size.length;i++){
        var child=child_size[i]
        var childsize=child.children
        childsize[0].style.backgroundColor="white"

    }
    var sizeEl=document.getElementById('size'+counter)
    console.log(sizeEl)
    sizeEl.style.backgroundColor='blue'
    globalsize=size;
}

function SelectMaxValue(){
    var maxpiceEl=document.getElementById('MaxPriceSelect')
    maxprice=maxpiceEl.options[maxpiceEl.selectedIndex].value
}
function ApplyButton(){
    console.log(globalsize)
    if(globalsize==null){
        alert("Please Choose Size")
    }
    else {
        console.log(maxprice)
        $.ajax(
            {
                url:"/SearchBySize/",
                data:{
                    size:globalsize,
                    max_price:maxprice,
                },
                success(response){
                    if(response.selected_products){
                        var selectedproducts=JSON.parse(response.selected_products)
                        callingSearchPage(selectedproducts)
                    }
                }
            }
        )
    }
}
function callingSearchPage(ProductsId){
    $.ajax(
        {
            url: "/AssignQuerytoSearch/",
            data:{
                ProductsList:JSON.stringify(ProductsId)
            },
            success(response) {
                if(response.isAssigned){
                    window.location.href="/SearchFiltering"
                }
            }
        }
    )

}
</script>
{% endblock %}
