{%extends 'base.html' %}
{% load static %}
{% block content %}
<section class="section-conten padding-y bg">

<div class="container">
	<div class="row">
	<aside class="col-md-3">
		<!--   SIDEBAR   -->
		{% include 'dashboard/Menue.html' %}
		<!--   SIDEBAR .//END   -->
	</aside>

	<main class="col-md-9">
    {% for item in object %}

		<article class="card">
		<header class="card-header">
			<strong class="d-inline-block mr-3">Order ID: 6123456789</strong>
			<span>Order Date: 16 December 2018</span>
		</header>
		<div class="card-body">
			<div class="row">
				<div class="col-md-8">
					<h6 class="text-muted">Delivery to</h6>
					<p> {{ item.ShippingDetail.firstname }}<br>
					Phone {{ item.ShippingDetail.phone }} Email:{{ item.ShippingDetail.email }} <br>
			    	Location: {{ item.ShippingDetail.house }},{{ item.ShippingDetail.building }}, Street{{item.ShippingDetail.street}},{{ item.ShippingDetail.state }}, {{item.ShippingDetail.Country  }} <br>
			    	P.O. Box:{{ item.ShippingDetail.zip }}
			 		</p>
				</div>
				<div class="col-md-4">
					<h6 class="text-muted">Payment</h6>
					<span class="text-success">
						<i class="fab fa-lg fa-cc-visa"></i>
					    Visa {{ item.CardSpec.CardNumber }}
					</span>
					<p>Subtotal: ${{  item.OrderItem.PriceOrder }} <br>
					</p>
				</div>
			</div> <!-- row.// -->
		</div> <!-- card-body .// -->
		<div class="table-responsive">

		<table class="table table-hover">

                {% for product in item.OrderDetail %}
			<tr>
				<td width="65">
					<img src=" {{ product.productorder.Pro_Detail.image.url }}" class="img-xs border">
				</td>
				<td>
					<var class="price text-muted">{{ product.order_count }}*{{product.productorder.Pro_Detail.price}}$</var>
				</td>
                {% if product.received %}
				<td width="250"> <a  class="btn btn-outline-primary">Received</a> <a href="/ProductDetail/{{ product.productorder.id }}" class="btn btn-light"> Details </a> </td>
                {% else %}
                <td width="250"> <a  class="btn btn-outline-primary">Not Received</a> <a href="/ProductDetail/{{ product.productorder.id }}" class="btn btn-light"> Details </a> </td>
                {% endif %}
			</tr>
                {% endfor %}

		</table>

		</div> <!-- table-responsive .end// -->
		</article>

        {% endfor %}<!-- order-group.// -->
	</main>
</div> <!-- row.// -->
</div>


</section>
{% endblock %}